@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

$color: red;

@mixin flex($layout) {
  display: flex;
  justify-content: $layout;
  align-items: $layout;
  @content;
}
// $breakPoints 映射
$breakPoints: (
  "phone": (
    320px,
    400px,
  ),
  "pad": (
    482px,
    768px,
  ),
  "smallLaptop": (
    769px,
    1024px,
  ),
  "laptop": (
    1025px,
    1200px,
  ),
  "desktop": 1201px,
);

@mixin responseTo($device) {
  $config: map-get($breakPoints, $device);
  @if type-of($config) == "list" {
    @media (min-width: nth($config,1)) and (max-width: nth($config,2)) {
      @content;
    }
  } @else {
    @media (min-width: $config) {
      @content;
    }
  }
}
