.item {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: white; /* 文字颜色 */
  background: #778809;
}

.item:nth-child(1) {
  background-color: #ff5733; /* 红色 */
}

.item:nth-child(2) {
  background-color: #33ff57; /* 绿色 */
}

.item:nth-child(3) {
  background-color: #3357ff; /* 蓝色 */
}

.item:nth-child(4) {
  background-color: #ff33a1; /* 粉色 */
}
